<a href="https://colab.research.google.com/github/atul-tiwari/Summer_Workshop/blob/master/Class_Day__1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
a=[1,4,5]
print(a)

[1, 4, 5]

In [67]:
a=12
b=6

print(a+b, a-b,a*b,a/b)

18 6 72 2.0

In [68]:
a= 2.0
print(type(a))
b= 2
print(type(b))

<class 'float'>
<class 'int'>

# String 

1. InMutable

In [69]:
Str1 = "Banana"
Str2 = "Shake"

Str = Str1+Str2

print(Str)

Str = Str1+" "+Str2

print(Str)

BananaShake
Banana Shake

In [70]:
#indexing 

print(Str[-1]) #last Char

print(Str[1:5]) #last not included

e
anan

In [71]:
#length

print(len(Str))

12

#List

1. Mutable
2. Hetrogeneous

In [72]:
a =["Milk","Banana","Carrot"]
print(a)
print(len(a))

['Milk', 'Banana', 'Carrot']
3

In [73]:
#indexing in list

print(a[2])

print(a[2][3])

Carrot
r

In [74]:
a[2]="Tomato"
print(a)

['Milk', 'Banana', 'Tomato']

In [75]:
#Concadation

b= ["Rice","Apple"]
c= a+b
print(c)

['Milk', 'Banana', 'Tomato', 'Rice', 'Apple']

In [76]:
#append
c.append("Salt")
print(c)

['Milk', 'Banana', 'Tomato', 'Rice', 'Apple', 'Salt']

In [77]:
a= [1,2,3,"ABC"]
b=[2.4,4,"CDE"]

c= a+b
print(c)

print(c[5])

[1, 2, 3, 'ABC', 2.4, 4, 'CDE']
4

# Dictionaries

To Add Quantites to your list

In [78]:
a={"Milk":"1 lit","Banana":"12","Carrot":"5"}

print(len(a))
print(a)

3
{'Milk': '1 lit', 'Banana': '12', 'Carrot': '5'}

In [79]:
print(a["Banana"]) # to get a value write the key in []

a["Banana"] = 10

print(a)

## printa[1] will be an error 
  #in dictonary we only use Key

12
{'Milk': '1 lit', 'Banana': 10, 'Carrot': '5'}

In [80]:
#add  anew items

a["Apple"] = "10 kg"

print(a)

{'Milk': '1 lit', 'Banana': 10, 'Carrot': '5', 'Apple': '10 kg'}

In [81]:
print(a.keys())
print(type(a.keys()))
print(a.values())

#return as list's

dict_keys(['Milk', 'Banana', 'Carrot', 'Apple'])
<class 'dict_keys'>
dict_values(['1 lit', 10, '5', '10 kg'])

#Conditionals

if,elif,else

In [82]:
i = 10
if i<0:
  print("Negative")
elif i>0:
  print("Possitive")
else:
  print("It is Zero")

Possitive

In [83]:
a={"Item 1":1,"Item 2":3,"Item 3":10}

if "Item 2" in a: # if bannana ids in Dict or not
  a["Item 2"] = a["Item 2"]+5
else:
  a["Item 2"] = 5
  
print(a)

{'Item 1': 1, 'Item 2': 8, 'Item 3': 10}

#loops
  1 While 
  
  2 for

In [84]:
for I in a:
  print(I,"-",a[I])

Item 1 - 1
Item 2 - 8
Item 3 - 10

In [85]:
i=1
for k in range(5):
  i+=1
  print(i)

2
3
4
5
6

In [86]:
i =0
Sum=0
while(Sum<10):
  print(i)
  i+=1
  Sum=Sum + i*i

0
1
2

#Functions

In [0]:
def Function_name (arguments):
  #function defination 
  return 0

In [88]:
def Largest_of_Two(a,b):
  if (a>b):
    return a
  else :
    return b
  
print(Largest_of_Two(2,5))
print(Largest_of_Two(12,5))

print(Largest_of_Two(5.5,7.8))

5
12
7.8

In [89]:
def ODD_Even (a):
  if a%2==0:
    print("even")
  else :
    print("Odd")

ODD_Even(5)

ODD_Even(77)

ODD_Even(10)

Odd
Odd
even

In [90]:
def Add_item_Dict (a,key,val=1):
  if key in a:
    a[key] += val
  else:
    a[key] = val
  return a

a={"Item 1":1,"Item 2":3,"Item 3":10}

a = Add_item_Dict(a,"Item 3",3)
print(a)
a = Add_item_Dict(a,"Item 4",5)
print(a)

{'Item 1': 1, 'Item 2': 3, 'Item 3': 13}
{'Item 1': 1, 'Item 2': 3, 'Item 3': 13, 'Item 4': 5}

#Classes

A sttructure contaning variables and functions.

In [0]:
class Shooping_List:
  def __init__(self):
    self.listdict = {}
    
  def addItem(self,key, val):
    if key in self.listdict:
      self.listdict[key] += val
    else:
      self.listdict[key] = val
  def remItem (self, key):
    del self.listdict[Key]
    
  def updateItem(self,key,val):
    
    self.listdict[key] = val
    
  def printVal(self,key):
    print(self.listdict[key])